{% extends 'core/base.html' %}


{% block title %}
    Portfolio
{% endblock title %}
    
{% block background %}{% load static %}{% static 'core/img/portfolio-bg.jpg' %}{% endblock%}

{% block headers %}
<h1>Portfolio</h1>
<span class="subheading">Mis proyectos</span>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row project">  	
        <div class="col-lg-3 col-md-4 offset-lg-1">
            <img class="img-fluid" src="{% static 'core/img/about-bg.jpg' %}" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
            <h2 class="section-heading title">Primer proyecto</h2>   
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur nobis possimus quod voluptates nulla itaque, veniam, quam illum ad beatae explicabo maiores. Iure, magni. Ipsa veritatis quisquam mollitia ipsum voluptate?</p>
            <p><a href="http://google.com">Más información</a></p>
        </div>
    </div>

    <div class="row project">  	
        <div class="col-lg-3 col-md-4 offset-lg-1">
            <img class="img-fluid" src="{% static 'core/img/home-bg.jpg' %}" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
            <h2 class="section-heading title">Segundo proyecto</h2>   
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque perferendis provident est delectus vel quis aut unde facilis libero assumenda, recusandae ad nisi architecto, ab blanditiis, nesciunt sint numquam doloribus?</p>
            <p><a href="http://google.com">Más información</a></p>
        </div>
    </div>
</div>
{% endblock content %}



